# IDE-specific files
.vscode/
__pycache__/

#api service account key
.json

#Virtual Enviroment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#mkdocs documentations
/site

#mypy 
.mypy_cache/
.dmypy.json
dmypy.json

#Unit test/coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
